<div class="auth-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" class="form-control">
      <div class="validation-message-container">
        @if (loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)) {
          @if (loginForm.get('email')?.errors?.['required']) {
            <div>Email is required.</div>
          }
          @if (loginForm.get('email')?.errors?.['email']) {
            <div>Invalid email format.</div>
          }
        }
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" class="form-control">
      <div class="validation-message-container">
        @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)) {
          @if (loginForm.get('password')?.errors?.['required']) {
            <div>Password is required.</div>
          }
        }
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-submit" [disabled]="loginForm.invalid">Login</button>
  </form>

  <div class="redirect-link">
    Don't have an account? <a routerLink="/auth/register">Register here</a>
  </div>
</div>
