# .NET
**/bin/
**/obj/
*.db
appsettings.Development.json
appsettings.json
CodeSnippets
publish
publish.zip
Migrations

# Angular/Node
**/node_modules/
**/dist/
**/.angular/
**/tmp/
**/out-tsc/
**/bazel-out/
npm-debug.log
yarn-error.log

# Angular IDE/editor
**/.idea/
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace

# Visual Studio Code
**/.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Angular history/cache/misc
**/.history/
**/.angular/cache
.sass-cache/
.connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.env
*.log

# Some temporal ignored files
MiniTaskHub.Tests/ExceptionHandlingTests.cs

ProjectSummary.md
FRONTEND_ANALYSIS.md