.task-container {
  padding-bottom: 20px;
}

.card {
  height: 100%;
}

.card-text {
  flex-grow: 1;
}

.card-footer {
  border-top: none;
  background-color: transparent;
}

.form-check-label {
  margin-left: 0.5rem;
}
