@use '../../../styles/_variables' as variables;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main-content {
  flex: 1;
  padding: 1.5rem; // Using a fixed value for simplicity, or variables.$spacing-unit * 1.5
}
