<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>

    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput id="title" formControlName="title" required />
      @if (form.get('title')?.touched && form.get('title')?.hasError('required')) {
        <mat-error>Title is required</mat-error>
      }
      @if (form.get('title')?.touched && form.get('title')?.hasError('minlength')) {
        <mat-error>Title must be at least 3 characters</mat-error>
      }
      @if(form.get('title')?.touched && form.get('title')?.hasError('maxlength')) {
        <mat-error>Title must be at most 100 characters</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput id="description" formControlName="description" required class="description-textarea"></textarea>
      @if (form.get('description')?.touched && form.get('description')?.hasError('required')) {
        <mat-error>Description is required</mat-error>
      }
      @if (form.get('description')?.touched && form.get('description')?.hasError('minlength')) {
        <mat-error>Description must be at least 5 characters</mat-error>
      }
      @if(form.get('description')?.touched && form.get('description')?.hasError('maxlength')) {
        <mat-error>Description must be at most 500 characters</mat-error>
      }
    </mat-form-field>

    @if (isEditMode) {
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select id="status" formControlName="status" required>
          @for (status of taskStatusOptions; track $index) {
            <mat-option [value]="status">{{ TaskStatusLabels[status] }}</mat-option>
          }
        </mat-select>
        @if (form.get('status')?.touched && form.get('status')?.hasError('required')) {
          <mat-error>Status is required</mat-error>
        }
      </mat-form-field>
    }

    <mat-form-field appearance="fill">
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate" readonly (click)="picker.open()" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (form.get('dueDate')?.touched && form.get('dueDate')?.hasError('required')) {
        <mat-error>Due Date is required</mat-error>
      }
    </mat-form-field>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">
        {{ isEditMode ? 'Update Task' : 'Create Task' }}
      </button>
      <button mat-stroked-button color="warn" type="button" (click)="onCancel()" class="cancel-btn">
        Cancel
      </button>
    </div>
    @if (errorMessage) {
      <mat-error color="warn">{{ errorMessage }}</mat-error>
    }
  </mat-card>
</form>