@use 'variables';
@use 'sass:color';
@use 'sass:math';

.validation-message-container {
  height: 1.2em; /* Fixed height to reserve space */
  margin-top: math.div(variables.$spacing-unit, 2); /* Use math.div */
  font-size: 0.8em; /* Smaller font size */
  color: red; /* Red text color */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

/* When there is content (i.e., an error message), make it visible */
.validation-message-container:has(div:not(:empty)) {
  opacity: 1;
}
