<mat-card [ngClass]="['task-card', $any(cardClass), dateHelperService.isOverdue(task) ? 'overdue' : '', compactView ? 'compact' : '']">
    <mat-card-title [ngClass]="{'truncate': truncate}">{{task.title}}</mat-card-title>
    <mat-card-content>
        <div>
            <span class="status-badge" [ngClass]="{
                'pending': task.status === 'Pending',
                'inprogress': task.status === 'InProgress',
                'done': task.status === 'Done'
            }">
                {{TaskStatusLabels[task.status]}}
            </span>
        </div>
        <div>
            <span class="due-date" [ngClass]="{
                'overdue': dateHelperService.isOverdue(task),
                'soon': dateHelperService.isDueSoon(task)
            }">
                <mat-icon fontIcon="event" style="font-size: 1em; margin-right: 2px;"></mat-icon>
                {{task.dueDate | date}}
            </span>
        </div>
        <p class="task-description" [ngClass]="{'truncate': truncate}">{{task.description}}</p>
    </mat-card-content>
    @if(expandedView){
        <mat-card-actions class="expanded-actions">
            <button mat-raised-button color="primary" (click)="view.emit(task.id!)">Details</button>
            <button mat-raised-button color="accent" (click)="edit.emit(task)">Edit</button>
            <button mat-raised-button color="warn" (click)="delete.emit(task.id!)">Delete</button>
        </mat-card-actions>
    }
    @if(truncate && !expandedView){
        <mat-card-actions>
            <button mat-icon-button color="primary"
                (click)="view.emit(task.id!)" class="action-icon" aria-label="View Details">
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="edit.emit(task)" class="action-icon" aria-label="Edit">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="delete.emit(task.id!)" class="action-icon" aria-label="Delete">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    }
</mat-card>