@use '../../../../styles/variables' as variables;

:host {
  .card {
    min-height: 220px; // Ensure consistent card height
    max-height: 220px; // Limit card height
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    }
  }

  .card-body {
    .card-title {
      font-weight: 600;
    }
    .card-text {
      font-size: 0.95rem;
      line-height: 1.5;
    }
    .description-clamp {
      display: -webkit-box;
      -webkit-line-clamp: 3; // Limit to 3 lines
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .card-footer {
    background-color: transparent;
    border-top: none;
  }
}