<div class="register-container">
    <mat-card>
        <mat-card-title>Register</mat-card-title>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" required>
                <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                    Valid email is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" required>
                <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                    Password is required (min 6 chars)
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading"
                class="full-width">
                Register
            </button>
        </form>
        @if (error) {
        <mat-error>{{ error }}</mat-error>
        }
        <div class="switch-auth-link">
            <span>Already have an account?</span>
            <a routerLink="/login">Login</a>
        </div>
    </mat-card>
</div>