@use '../../../../styles/variables' as variables;

:host {
  // The :host selector targets the host element of the component (in this case, <app-header>)
  .navbar {
    // Apply a vibrant, branded gradient background.
    // This creates a modern look that stands out.
    background: linear-gradient(90deg, variables.$primary, variables.$secondary);

    .navbar-brand, .nav-link {
      // Use a slightly bolder font weight for better readability on the gradient background.
      font-weight: 500;
    }

    .nav-link {
      display: flex;
      align-items: center;
      transition: color 0.2s ease-in-out;

      // Style for the active route link
      &.active {
        color: variables.$light !important; // Use the light accent color to highlight the active link.
      }

      &:hover {
        color: variables.$light; // Highlight on hover for better user feedback.
      }

      fa-icon {
        // Ensure icons are vertically aligned with the text.
        vertical-align: middle;
      }
    }

    .app-logo {
      height: 40px; // Adjust as needed
      width: auto;
    }
  }
}